In [ ]:
0 0 0 0 5 0 0 0 0 
0 0 0 4 8 12 0 0 0 
0 0 3 6 9 12 15 0 0
0 2 4 6 8 10 12 14 0
1 2 3 4 5 6 7 8 9

In [35]:
n = 5

term = 1
number = n

for i in range(1, n+1):
    for j in range(1, n+1-i):
        print("0", end = " ")
    
    for k in range(term):
        print(number,end = " ")
        number = number + n+1-i
        
    number = n-i
    
    for j in range(1, n+1-i):
        print("0", end = " ")  
    
    
    term+=2 #number of terms to be printed in each line
    
    print()

0 0 0 0 5 0 0 0 0
0 0 0 4 8 12 0 0 0
0 0 3 6 9 12 15 0 0
0 2 4 6 8 10 12 14 0
1 2 3 4 5 6 7 8 9

0 0 0 0 1 0 0 0 0 
0 0 0 2 3 2 0 0 0 
0 0 3 4 5 4 3 0 0
0 4 5 6 7 6 5 4 0
5 6 7 8 9 8 7 6 5

In [14]:
n = 5

term = 1

for i in range(1, n+1):
    for j in range(1, n+1-i):
        print("0", end = " ")
    
    # series is 1--> 3--> 5 --> 7 --> 9
    
    increase_length = term - (term//2) # 1 - (1//2) = 1   term+2 = 3      3 - (3//2) = 2
    decrease_length = term//2  # 1//2 = 0    3//2 = 1
    
    number = i

    #increasing order
    for k in range(increase_length):
        print(number, end=" ")
        number+=1
    
    number-=2
    
    #decreasing order
    for l in range(decrease_length):
        print(number, end=" ")
        number-=1
    
    for j in range(1, n+1-i):
        print("0", end = " ")
    
    term +=2
    print()

0 0 0 0 1 0 0 0 0
0 0 0 2 3 2 0 0 0
0 0 3 4 5 4 3 0 0
0 4 5 6 7 6 5 4 0
5 6 7 8 9 8 7 6 5

In [ ]:
******
*   *
*  *
* *
**
*

In [83]:
n = 6
for k in range(0,n):
    print("*", end="")
print("")
for i in range(0, n+1):
    for j in range(1, n-i):
        if j == 1 or j == n-i-1:
            print("*", end="")
        else:
            print(" ", end="")
    print("")

******
*   *
*  *
* *
**
*

In [ ]:
********** // 0 spaces

****__**** // 2 spaces

***____*** // 4 spaces

**______** // 6 spaces

*________* // 8 spaces

In [60]:
for i in range(n):
    for j in range(n-i):
        print("*", end="")
    for k in range(i*2):
        print(" ", end="" )
    for j in range(n-i):
        print("*", end="")
    print("")

**********
****  ****
***    ***
**      **
*        *

* * * * * 
 * * * * 
  * * * 
   * *    
    *

In [56]:
n = 5

for i in range(n):

    for k in range(i):
        print(" ", end="")

    for j in range(1, n+1-i):
        print("*", end=" ")
    print()

* * * * *
 * * * *
  * * *
   * *
    *

*****
*   *
*   *
*   *
*****

In [46]:
n = 5

for i in range(1, n+1):
    if i == 1 or i == n:
        for j in range(1, n+1):
            print("*", end="")
    else:
        for j in range(1, n+1):
            if j == 1 or j ==n:
                print("*", end="")
            else:
                print(" ",end="")
#         print("")     
    print("")

*****
*   *
*   *
*   *
*****

* 
**
***
****
*****
****
***
**
*

In [44]:
n = 5

for i in range(1, n+1):
    for j in range(i):
        print("*", end="")
    print()

for i in range(1, n):
    for j in range(n-i):
        print("*", end="")
    print()

*
**
***
****
*****
****
***
**
*

In [43]:
n = 5
for i in range(1, n):
    for j in range(n-i):
        print("*", end="")
    print()

****
***
**
*

In [ ]:
*________* // 8 spaces

**______** // 6 spaces

***____*** // 4 spaces

****__**** // 2 spaces

********** // 0 spaces

In [57]:
n = 5

for i in range(1, n+1):
    for j in range(i):
        print("*", end = "")
    
    for k in range(n*2-i*2):
        print(" ", end="")
    
    for j in range(i):
        print("*", end = "")
    print()

*        *
**      **
***    ***
****  ****
**********

____*
___**
__***
_****
*****

In [11]:
n = 5

for i in range(1, n+1):
    for j in range(0, n-i):
        print("_", end="")
    for k in range(i):
        print("*", end="")
    print()

____*
___**
__***
_****
*****

In [ ]:
*****
_****
__***
___**
____*

In [47]:
for i in range(n):
    for j in range(i):
        print(" ", end="")
    for k in range(n-i):
        print("*", end="")
    print()

*****
 ****
  ***
   **
    *

In [ ]:
    * 
   * * 
  * * * 
 * * * * 
* * * * *

In [55]:
n = 5
for i in range(1, n+1):
    for j in range(n-i):
        print("_", end ="")
    for k in range(i):
        print("*",end=" ")
    print()

____*
___* *
__* * *
_* * * *
* * * * *

In [ ]:
____*
___**
__***
_****
*****